<div class="teams-container">
    <div class="team-card-add" (click)="$event.stopPropagation();createTeamDialog()">
        <div class="card team-title">Créer une équipe</div>
        <div class="section">
            <div class="create-button">
                <button >+</button>
            </div>
        </div>
    </div>
    <div class="teams">
      @for (team of filteredTeams; track team.id) {
        <div class="team-card">
          <!-- Nom de l'équipe -->
          <div class="card team-title">{{ team.name }}</div>

          <!-- Description -->
          <div class="card team-description">{{ team.description }}</div>

          <!-- Manager -->
          <div class="card section">
            <div class="section-manager">
                <h4>Manager</h4>
                @if (getManager(team); as manager) {
                <div class="member">
                    <div class="avatar">
                    <img src="assets/avatar-placeholder.png" alt="Manager" />
                    <span class="status-dot"></span>
                    </div>
                    <span class="name">{{ manager.firstName }} {{ manager.lastName }}</span>
                </div>
                }
            </div>

            <h4 class="sticky-header">Équipe</h4>
            <div class="section-members">
              @for (member of team.members; track member.id) {
                @if (member.role !== 'manager') {
                    <div class="member">
                    <div class="avatar">
                        <img src="assets/avatar-placeholder.png" alt="Membre" />
                        <span class="status-dot"></span>
                    </div>
                    <span class="name">{{ member.firstName }} {{ member.lastName }}</span>
                    </div>
                }
              }
            </div>
          </div>

          <!-- Bouton d'ajout -->
          <div class="card add-button">
            <button (click)=" $event.stopPropagation();addMemberDialog(team.id)">+</button>
          </div>
        </div>
      }
    </div>
</div>
