<div class="add-team-dialog">

  <div class="title">
    {{ data.title }}
  </div>

  <div class="message">
    {{ data.message }}
  </div>

  <app-basic-dropdown
    [options]="data.dropdownOptions"
    placeholder="Employé..."
    (onSelectionChange)="onChange($event)">
  </app-basic-dropdown>

  <div class="buttons">
    <app-basic-text-button
      text="{{ data.cancel }}"
      color="#999999"
      (onClick)="data.onCancel(dialog)">
    </app-basic-text-button>

    <app-basic-text-button
      text="{{ data.confirm }}"
      color="#336CAA"
      [disabled]= "!isSelected"
      (onClick)="data.onConfirm(dialog, selectedEmployeeId)">
    </app-basic-text-button>
  </div>

</div>
