<div class="add-team-dialog">

  <div class="title">
    {{ data.title }}
  </div>

  <div class="message">
    {{ data.message }}
  </div>

  <!-- Liste des employés -->
  <mat-form-field appearance="fill" >
    <mat-label>Employés</mat-label>
    <mat-select [(value)]="selectedEmployeeIds" multiple class="select">
      @for (option of data.dropdownOptions; track option.value) {
        <mat-option [value]="option.value">
          {{ option.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>



  <div class="buttons">
    <app-basic-text-button
      [text]="data.cancel"
      color="#999999"
      (onClick)="data.onCancel(dialog)">
    </app-basic-text-button>

    <app-basic-text-button
      [text]="data.confirm"
      color="#336CAA"
      [disabled]="!isSelected"
      (onClick)="data.onConfirm(dialog, selectedEmployeeIds)">
    </app-basic-text-button>
  </div>

</div>
