<div class="add-team-dialog">

  <div class="title">
    {{ data.title }}
  </div>

  <div class="message">
    {{ "TEAM.DIALOG.CREATE-TEAM.NAME-TITLE" | translate }}
  </div>

  <app-basic-text-field
    placeholder={{namePlaceholder}}
    width = "300px"
    [rows]="1"
    (textChange)="onChangeName($event)">
  </app-basic-text-field>

  <div class="message">
    {{ "TEAM.DIALOG.CREATE-TEAM.FIELD-TITLE" | translate }}
  </div>

  <app-basic-dropdown
    [options]="data.dropdownOptions"
    placeholder={{fieldPlaceholder}}
    (selectionChange)="onChangeField($event)">
  </app-basic-dropdown>


    <div class="message">
    {{ "TEAM.DIALOG.CREATE-TEAM.MANAGER" | translate }}
  </div>

  <app-basic-dropdown
    [options]="data.managerList"
    placeholder={{managerPlaceholder}}
    (selectionChange)="onChangeManager($event)">
  </app-basic-dropdown>

  <div class="message">
    {{ "TEAM.DIALOG.CREATE-TEAM.DESCRIPTION-TITLE" | translate }}
  </div>

  <app-basic-text-field
    placeholder={{descriptionPlaceholder}}
    width = "300px"
    [maxLength]="500"
    [rows]="5"
    (textChange)="onChangeDescription($event)">
  </app-basic-text-field>

  <div class="buttons">
    <app-basic-text-button
      text="{{ data.cancel }}"
      color="#999999"
      (click)="data.onCancel(dialog)">
    </app-basic-text-button>

    <app-basic-text-button
      text="{{ data.confirm }}"
      color="#336CAA"
      [disabled]= "!isSelected"
      (click)="data.onConfirm(dialog, teamName, teamField, manager, teamDescription)">
    </app-basic-text-button>
  </div>

</div>
