<div class="drawer-overlay" *ngIf="isOpen" (click)="close()" (keydown.enter)="close()">
  <div class="drawer-content" (click)="$event.stopPropagation()">
    <div class="drawer-header">
      @if (!isEditable) {
        <h2>{{ employee?.firstName }} {{ employee?.lastName }}</h2>
      } @else {
        @if (employee) {
          <app-basic-text-field
            width=80
            [rows]="1"
            [(ngModel)]="employee.firstName">
          </app-basic-text-field>
          <app-basic-text-field
            width=80
            [rows]="1"
            [(ngModel)]="employee.lastName">
          </app-basic-text-field>
        }
      }

      <div class="header-actions">
        <button class="icon-btn" (click)="export()" title="Modifier">
          <img src="assets/icons/export.svg" alt="Export" class="icon" />
        </button>
        <button class="close-btn" (click)="close()">✕</button>
      </div>
    </div>

    <div class="drawer-body" *ngIf="employee">
      <!-- Sections Personnel et Professionnel côte à côte -->
      <div class="sections-row">
        <!-- Section personnelle -->
        <div class="info-section">
          <h3>{{ "ADMIN.ALL.PERSONAL-DRAWER.PERSONAL" | translate }}</h3>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.BIRTH-DATE" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.birthDate) }}</span>
            } @else {
              <input type="date" [(ngModel)]="employee.birthDate" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.EMAIL" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.personalEmail) }}</span>
            } @else {
              <input type="email" [(ngModel)]="employee.personalEmail" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.PHONE" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.telephone) }}</span>
            } @else {
              <input type="tel" [(ngModel)]="employee.telephone" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.SECU" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.socialNumber) }}</span>
            } @else {
              <input type="text" [(ngModel)]="employee.socialNumber" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.SITUATION" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.familySituation) }}</span>
            } @else {
              <select [(ngModel)]="employee.familySituation" class="edit-input">
                <option value="single">{{ "ADMIN.ALL.PERSONAL-DRAWER.SINGLE" | translate }}</option>
                <option value="married">{{ "ADMIN.ALL.PERSONAL-DRAWER.MARRIED" | translate }}</option>
                <option value="divorced">{{ "ADMIN.ALL.PERSONAL-DRAWER.DIVORCED" | translate }}</option>
                <option value="civil-partnership">{{ "ADMIN.ALL.PERSONAL-DRAWER.CIVIL-PARTNERSHIP" | translate }}</option>
                <option value="widow">{{ "ADMIN.ALL.PERSONAL-DRAWER.WIDOW" | translate }}</option>
                <option value="separate">{{ "ADMIN.ALL.PERSONAL-DRAWER.SEPARATE" | translate }}</option>
                <option value="unknown">{{ "ADMIN.ALL.PERSONAL-DRAWER.UNKNOWN" | translate }}</option>
                <option value="marital">{{ "ADMIN.ALL.PERSONAL-DRAWER.MARITAL" | translate }}</option>
              </select>
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.ADDRESS" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatAddress(employee.address) }}</span>
            } @else {
              <input type="text" [(ngModel)]="employee.address.number" class="edit-input" placeholder="{{ 'ADMIN.ALL.PERSONAL-DRAWER.NUMBER' | translate}}"/>
              <input type="text" [(ngModel)]="employee.address.street" class="edit-input" placeholder="{{ 'ADMIN.ALL.PERSONAL-DRAWER.STREET' | translate}}"/>
              <input type="text" [(ngModel)]="employee.address.postalCode" class="edit-input" placeholder="{{ 'ADMIN.ALL.PERSONAL-DRAWER.POSTCODE' | translate}}"/>
              <input type="text" [(ngModel)]="employee.address.city" class="edit-input" placeholder="{{ 'ADMIN.ALL.PERSONAL-DRAWER.CITY' | translate}}"/>
              <input type="text" [(ngModel)]="employee.address.state" class="edit-input" placeholder="{{ 'ADMIN.ALL.PERSONAL-DRAWER.STATE' | translate}}"/>
            }
          </div>
        </div>

        <!-- Section professionnelle -->
        <div class="info-section">
          <h3>{{ "ADMIN.ALL.PERSONAL-DRAWER.PROFESSIONAL" | translate }}</h3>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.EMAIL" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.email) }}</span>
            } @else {
              <input type="email" [(ngModel)]="employee.email" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.JOB" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.role) }}</span>
            } @else {
              <select [(ngModel)]="employee.role" class="edit-input">
                <option value="manager">{{ "ADMIN.ALL.PERSONAL-DRAWER.MANAGER" | translate }}</option>
                <option value="employe">{{ "ADMIN.ALL.PERSONAL-DRAWER.EMPLOYEE" | translate }}</option>
                <option value="admin">{{ "ADMIN.ALL.PERSONAL-DRAWER.ADMIN" | translate }}</option>
              </select>
            }
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.CONTRACT" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatValue(employee.contract) }}</span>
            } @else {
              <input [(ngModel)]="employee.contract" class="edit-input" />
            }
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.TEAM" | translate }}</label>

            <span>{{ formatValue(employee.team?.name) }}</span>

          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.MANAGER" | translate }}</label>

            <span>{{ formatValue(manager) }}</span>

          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.CONTACT" | translate }}</label>
            @if (!isEditable) {
              <span>{{ formatEmergencyContact(employee.emergencyContact) }}</span>
              <span>{{ formatRelation(employee.emergencyContact) }}</span>
              <span>{{ formatEmergencyPhone(employee.emergencyContact) }}</span>
            } @else {
              <select [(ngModel)]="employee.emergencyContact.courtesy" class="edit-input">
                <option value="M">M.</option>
                <option value="Mme">Mme.</option>
                <option value="Mms">Mms.</option>
              </select>
              <input type="text" [(ngModel)]="employee.emergencyContact.firstName" class="edit-input" placeholder="{{ 'ADMIN.ALL.FIRSTNAME' | translate}}" />
              <input type="text" [(ngModel)]="employee.emergencyContact.lastName" class="edit-input" placeholder="{{ 'ADMIN.ALL.NAME' | translate}}"/>
              <input type="text" [(ngModel)]="employee.emergencyContact.relation" class="edit-input" placeholder="{{ 'ADMIN.ALL.PERSONAL-DRAWER.RELATION' | translate}}"/>
              <input type="text" [(ngModel)]="employee.emergencyContact.phoneNumber" class="edit-input" placeholder="{{ 'ADMIN.ALL.PERSONAL-DRAWER.PHONE' | translate}}"/>
            }
          </div>
        </div>
      </div>

      <!-- Section temps de travail et salaire en dessous -->
      <div class="info-section">
        <h3>{{ "ADMIN.ALL.PERSONAL-DRAWER.WORKING-TIME" | translate }}</h3>
        <div class="info-grid">
          <div class="grid-down">
            <div class="info-item">
              <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.TIME" | translate }}</label>
              @if (!isEditable) {
                <span>{{ employee.workingHours }}</span>
              } @else {
                <input type="number" [(ngModel)]="employee.workingHours" class="edit-input" />
              }
            </div>

            <div class="info-item">
              <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.EFFECTIF-TIME" | translate }}</label>
              <span>{{ effectiveHours }}</span>
            </div>

            <div class="info-item">
              <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.HOLIDAYS" | translate }}</label>
              <span>{{ employee.leaves }}</span>
            </div>
          </div>

          <div class="grid-down">
            <div class="info-item">
              <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.ANNUAL-SALARY" | translate }}</label>
              @if (!isEditable) {
                <span>{{ employee.annualSalary }}</span>
              } @else {
                <input type="number" [(ngModel)]="employee.annualSalary" class="edit-input" />
              }
            </div>

            <div class="info-item">
              <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.RIB" | translate }}</label>
              @if (!isEditable) {
                <span>{{ employee.rib }}</span>
              } @else {
                <input type="text" [(ngModel)]="employee.rib" class="edit-input" />
              }
            </div>

            <div class="info-item">
              <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.ARRIVAL" | translate }}</label>
              @if (!isEditable) {
                <span>{{ employee.arrivalDate }}</span>
              } @else {
                <input type="date" [(ngModel)]="employee.arrivalDate" class="edit-input" />
              }
            </div>
          </div>
        </div>
      </div>

      <!-- Boutons d'action -->
      @if (isEditable) {
        <div class="drawer-actions">
          <app-basic-text-button
            width="20vw"
            text="Annuler"
            color="#999999"
            (click)="close()"
            (keydown.enter)="close()">
          </app-basic-text-button>
          <app-basic-text-button
            width="20vw"
            text="Sauvegarder"
            color="#336CAA"
            (click)="saveChanges()"
            (keydown.enter)="saveChanges()">
          </app-basic-text-button>
        </div>
      }
      @if (!isEditable) {
        <div class="scheduler-container">
          <h3>Planning de {{ employee.firstName }} {{ employee.lastName }}</h3>
          <app-scheduler [targetUserId]="Number(employee.id)"></app-scheduler>
        </div>
      }
    </div>
  </div>
</div>
