<div class="drawer-overlay" *ngIf="isOpen" (click)="close()">
  <div class="drawer-content" (click)="$event.stopPropagation()">
    <div class="drawer-header">
      @if (!isEditable) {
        <h2>{{ employee?.firstName }} {{ employee?.lastName }}</h2>
      } @else {
        @if (employee) {
          <app-basic-text-field
            width=80
            [rows]="1"
            [(ngModel)]="employee.firstName">
          </app-basic-text-field>
          <app-basic-text-field
            width=80
            [rows]="1"
            [(ngModel)]="employee.lastName">
          </app-basic-text-field>
        }
      }

      <div class="header-actions">
        <button class="icon-btn" (click)="export()" title="Modifier">
          <img src="assets/icons/export.svg" alt="Export" class="icon" />
        </button>
        <button class="close-btn" (click)="close()">✕</button>
      </div>
    </div>

    <div class="drawer-body" *ngIf="employee">
      <!-- Sections Personnel et Professionnel côte à côte -->
      <div class="sections-row">
        <!-- Section personnelle -->
        <div class="info-section">
          <h3>{{ "ADMIN.ALL.PERSONAL-DRAWER.PERSONAL" | translate }}</h3>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.BIRTH-DATE" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.birthDate }}</span>
            } @else {
              <input type="date" [(ngModel)]="employee.birthDate" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.EMAIL" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.email }}</span>
            } @else {
              <input type="email" [(ngModel)]="employee.email" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.PHONE" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.telephone }}</span>
            } @else {
              <input type="tel" [(ngModel)]="employee.telephone" class="edit-input" />
            }
          </div>
          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.SECU" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.socialNumber }}</span>
            } @else {
              <input type="text" [(ngModel)]="employee.socialNumber" class="edit-input" />
            }
          </div>
        </div>

        <!-- Section professionnelle -->
        <div class="info-section">
          <h3>{{ "ADMIN.ALL.PERSONAL-DRAWER.PROFESSIONAL" | translate }}</h3>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.JOB" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.role }}</span>
            } @else {
              <select [(ngModel)]="employee.role" class="edit-input">
                <option value="manager">Manager</option>
                <option value="employe">Employé</option>
                <option value="admin">Admin</option>
              </select>
            }
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.CONTRACT" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.contract }}</span>
            } @else {
              <input [(ngModel)]="employee.contract" class="edit-input" />
            }
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.TEAM" | translate }}</label>

            <span>{{ employee.team?.name }}</span>

          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.MANAGER" | translate }}</label>

            <span>{{ manager }}</span>

          </div>
        </div>
      </div>

      <!-- Section temps de travail et salaire en dessous -->
      <div class="info-section">
        <h3>{{ "ADMIN.ALL.PERSONAL-DRAWER.WORKING-TIME" | translate }}</h3>
        <div class="info-grid">

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.TIME" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.workingHours }}</span>
            } @else {
              <input [(ngModel)]="employee.workingHours" class="edit-input" />
            }
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.EFFECTIF-TIME" | translate }}</label>
            <span>{{ effectiveHours }}</span>
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.HOLIDAYS" | translate }}</label>
            <span>{{ employee.leaves }}</span>
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.ANNUAL-SALARY" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.annualSalary }}</span>
            } @else {
              <input type="number" [(ngModel)]="employee.annualSalary" class="edit-input" />
            }
          </div>

          <div class="info-item">
            <label>{{ "ADMIN.ALL.PERSONAL-DRAWER.ARRIVAL" | translate }}</label>
            @if (!isEditable) {
              <span>{{ employee.arrivalDate }}</span>
            } @else {
              <input type="date" [(ngModel)]="employee.arrivalDate" class="edit-input" />
            }
          </div>
        </div>
      </div>

      <!-- Boutons d'action -->
      @if (isEditable) {
        <div class="drawer-actions">
          <app-basic-text-button
            width="20vw"
            text="Annuler"
            color="#999999"
            (click)="close()"
          >
          </app-basic-text-button>
          <app-basic-text-button
            width="20vw"
            text="Sauvegarder"
            color="#336CAA"
            (click)="saveChanges()"
          >
          </app-basic-text-button>
        </div>
      }
      @if (!isEditable) {
        <div class="scheduler-container">
          <h3>Planning de {{ employee.firstName }} {{ employee.lastName }}</h3>
          <app-scheduler [targetUserId]="Number(employee.id)"></app-scheduler>
        </div>
      }
    </div>
  </div>
</div>
