<div class="delete-dialog">

  <div class="title">
    {{ data.title }}
  </div>

  <div class="message">
    {{ data.message }}
  </div>

  <div class="buttons">
    <app-basic-text-button
      text="{{ data.cancel }}"
      color="#999999"
      (click)="data.onCancel(dialog)"
      (keydown.enter)="data.onCancel(dialog)">
    </app-basic-text-button>

    <app-basic-text-button
      text="{{ data.confirm }}"
      color="#AA3333"
      (click)="data.onConfirm(dialog)"
      (keydown.enter)="data.confirm(dialog)">
    </app-basic-text-button>
  </div>

</div>
