<div class="edit-password">

  <div class="title">
    {{ data.title }}
  </div>

  <div class="message">
    {{ "SETTINGS.DIALOG.PASSWORD" | translate }}
  </div>

  <app-basic-text-field
    width = "300px"
    [rows]="1"
    (onTextChange)="onChangePassword($event)">
  </app-basic-text-field>

  <div class="message">
    {{ "SETTINGS.DIALOG.CONFIRM" | translate }}
  </div>

  <app-basic-text-field
    width = "300px"
    [rows]="1"
    (onTextChange)="onConfirmChangePassword($event)">
  </app-basic-text-field>


  <div class="buttons">
    <app-basic-text-button
      text="{{ data.cancel }}"
      color="#999999"
      (onClick)="data.onCancel(dialog)">
    </app-basic-text-button>

    <app-basic-text-button
      text="{{ data.confirm }}"
      color="#336CAA"
      [disabled]= "!isSelected"
      (onClick)="data.onConfirm(dialog, newPassword)">
    </app-basic-text-button>
  </div>

</div>
