<div class="historical-content">
  <div class="title">
    Votre Historique
  </div>

  <div class="bloc">
    <div class="month">
      {{ month.name }}
    </div>

    <div class="calendar">
      <div class="day-item"
           *ngFor="let day of days"
           [class.weekend]="day.isWeekend"
           [class.today]="day.isToday">

        <div class="day-header">
          <span class="day-number">{{ day.dayNumber }}</span>
        </div>

        <div class="day-separator">
          <div class="time-display">
            <span class="time-start">{{ day.workDay.timeStart }}</span>

            <div class="progress-bar-container">
              <div *ngIf="day.workDay.timeStart" class="progress-bar"></div>
              <span class="time-worked">{{ day.workDay.timeWorked }}</span>
            </div>

            <span class="time-end">{{ day.workDay.timeEnd }}</span>
          </div>
        </div>

        <div class="day-info">
          <span class="day-name">{{ day.dayName }}</span>
        </div>

      </div>
    </div>
  </div>
</div>

