<div class="add-team-dialog">

  <div class="title">
    {{ "SETTING.AVATAR.TITLE" | translate }}
  </div>

  <div class="avatar-list">
    @for (avatar of avatarList; track avatar.id) {
      <div
        class="avatar-item"
        [class.selected]="selectedAvatarId === avatar.id"
        (click)="selectAvatar(avatar.id)">
        <img [src]="avatar.path" [alt]="'Avatar ' + avatar.id"  />
      </div>
    }
  </div>

  <div class="buttons">
    <app-basic-text-button
      [text]="cancel"
      color="#999999"
      (onClick)="onCancel()">
    </app-basic-text-button>

    <app-basic-text-button
      [text]="confirm"
      color="#336CAA"
      (onClick)="onConfirm()">
    </app-basic-text-button>
  </div>

</div>
