.basic-dropdown {
  width: 20vw;
  padding: 10px 15px;
  border: 0.5px solid #999999;
  border-radius: 5px;
  font-size: 14px;
  background-color: #F7F8FA;
  cursor: pointer;
  min-width: 200px;
  transition: border-color 0.3s ease;
}

.basic-dropdown option {
  padding: 10px;
}
